<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Create Account</title>
</head>

<body>

    <h1>Create Account</h1>

    <p>Join BloodLink as a donor or requester</p>

    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            Create Account
        </button>

    </form>

    <p>
        Already have an account?
        <a href="{% url 'accounts:login' %}">
            Sign In
        </a>
    </p>

</body>

</html>